.idea
.idea/
*/.idea
*.idea
logs
out
*.iml
.project
.classpath
.settings
*.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
*/.gradle/
.DS_Store
*/logs
*/scripts/*.pyc
*/scripts/*.*~
src/main/webapp/WEB-INF/classes
src/main/webapp/META-INF/
src/test/resources/conf_path.properties
target
.module-cache

.sass-cache
src/main/webapp/static/css/**/*.css*
erp-panda-api/src/main/resources/base/rebel.xml
*.versionsBackup
*/${sys:app.logdir}
*/${sys:jetty.logs}
/${sys:app.logdir}/
